


/* Extra large devices */
@media (min-width: 1200px) {
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Extra small devices */
@media (max-width: 575.98px) {
    .navbar-nav {
        text-align: center;
        background: #FF5A3C;
        padding: 19px 0;
    }

    .nav-link {
        padding: 6px 0 !important;
        color: white;
    }

    .header_i_btn{
        text-align: center;
    }

    .extra {
        top: -113px;
        left: -21px;
        width: 128px;
    }

    .banner_part_bg {
        padding-top: 145px;
        padding-bottom: 60px;
    }

    .banner_txt h5 {
        font-size: 14px;
    }

    .banner_txt h1 {
        padding: 10px 0;
        font-size: 33px;
        line-height: 45px;
    }

    .banner_txt p {
        padding-bottom: 20px;
        font-size: 15px;
        width: 231px;
        line-height: 22px;
    }

    .banner_txt a {
        padding: 10px 10px;
        font-size: 11px;
    }

    .banner_txt i {
        font-size: 42px;
        padding-top: 10px;
        padding-left: 32px;
    }

    #feature_part {
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .feature_parnt .ft_img_one{
        width: 100%;
    }

    .feature_r h5 {
        padding-top: 25px;
        text-align: center;
    }

    .feature_r h4 {
        font-size: 43px;
        line-height: 60px;
        text-align: center;
    }
    .feature_r_item{
        text-align: center;
    }
    .facilities_bg {
        padding: 50px 0;
    }

    .common_title h4 {
        font-size: 29px;
        line-height: 44px;
        width: 321px;
    }

    #facilities {
        padding-bottom: 37px;
    }

    .facilities_l p {
        padding-right: 220px;
        font-size: 12px;
        line-height: 26px;
        padding-bottom: 24px;
    }
    .facilities_down_one svg{
        width: 24px;
    }

    .facilities_down_one {
        padding-bottom: 25px;
    }

    .facilities_down_one h6 {
        font-size: 11px;
        font-weight: 500;
        line-height: 10px;
    }

    .facilities_l .circle {
        width: 0;
    }
}
