/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* font-family: ; */
}
a, a:hover{
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* All Common Css End */

/* Header Part Start  */
.navbar {
  padding: 20px 0;
}
.nav-link{
  padding: 0 22px !important;
  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", serif;
  color: #143445;
}
.home{
  color: #FF5A3C;
}
.header_i_btn i{
  padding-right: 20px;
}
.header_btn{
  padding: 20px 35px;
  border-radius: 3px;
  color: #ffffff;
  background: #FF5A3C;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", serif;
}
/* Header Part End */

/* Banner Part Start  */
#banner_part{
}
.banner_part_bg{
  background: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Banner Part End */

/* Service Part Start  */

/* Service Part End */

/* App Part Start  */

/* App Part End */

/* App Show Part Start  */

/* App Show Part End */

/* Companies Part Start  */

/* Companies Part End */

/* Trial Part Start  */

/* Trial Part End */

/* Post Part Start  */

/* post right content  */

/* Post Part End */

/* Talk Part Start  */

/* Talk Part End */

/* Footer Part Start  */

/* Footer Part End */

/* Banner Part Start  */
/* Banner Part End */
